<div #error_display>
    <app-error-display errorText="{{ errorText }}" [isInvalid]="isInvalid"></app-error-display>
  </div>
  
  <div class="forgot-password-container">
    <div id="container-title">
      Account Recovery
    </div>
    <div id="container-description">
      Enter your email address to reset your password
    </div>
    <app-input-label
      type="password"
      name="new_password"
      text="New Password"
      [isRequired]="true"
      [btnClicked]="btnClicked"
      (fetchData)="inputData($event)"></app-input-label>
    <app-input-label
      type="password"
      name="confirm_new_password"
      text="Confirm New Password"
      [isRequired]="true"
      [btnClicked]="btnClicked"
      (fetchData)="inputData($event)"></app-input-label>
    <div id="reset-button">
      <span
        (click)="backButton()">
        <i class="fa fa-angle-left"></i>Back
      </span>
      <app-button-submit text="Reset Password" alignment="right" (btnClick)="buttonClicked()" (click)="resetUserPassword()"></app-button-submit>
    </div>
  </div>
  