<div class="register-container">
    <div class="title-header">
      Register
      <hr>
    </div>
    <div class="action-box">
        <div class="section">
            <div class="text">
                <div class="label">
                    General settings
                </div>
                Edit settings for this form.
            </div>
            <div class="toolbar d-flex justify-content-end ">
                <a [routerLink]="basicFormUrl" class="fa-solid fa-pen-to-square ">
                    Edit
                </a>
            </div>
        </div>

        <div class="section">
            <div class="text">
                <div class="label">
                    Registration Form
                </div>
                Add, remove or modify information registrants may fill out.
            </div>
            <div class="toolbar d-flex justify-content-end">
                <a [routerLink]="configureFormUrl" class="fa-solid fa-gear">
                    Configure
                </a>
            </div>
        </div>
    </div>

  </div>
  