<div #error_display>
    <app-error-display errorText="{{ errorText }}" [isInvalid]="isInvalid"></app-error-display>
  </div>
  
  <div class="forgot-password-container">
    <div id="container-title">
      Account Recovery
    </div>
    <div id="container-description">
      Enter your email address to reset your password
    </div>
    <app-input-label
            type="email"
            name="email_address"
            text="Email Address"
            [isRequired]="true"
            [btnClicked]="btnClicked"
            (fetchData)="inputData($event)"></app-input-label>
    <div id="reset-button">
      <span
        (click)="backButton()">
        <i class="fa fa-angle-left"></i>Back
      </span>
      <app-button-submit text="Submit" alignment="right" (btnClick)="buttonClicked()" (click)="forgotPassword()"></app-button-submit>
    </div>
  </div>
  