.slider-icon {
    width: 270px;
    color: #246caf;
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
  }
  
  .side-section-container {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .side-section-container::-webkit-scrollbar {
    width: 0;
  }
  
  .slider-icon, .side-section-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .cross-icon {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: 100;
    justify-content: flex-end;
  }
  
  a {
    text-decoration: none;
  }
  
  hr {
    border: none;
    height: 0.5px;
    background-color: rgb(212, 212, 212);
  }
  
  .side-section-container div {
    padding: 15px;
    cursor: pointer;
  }
  
  .side-section-container div td:nth-child(1) {
    font-size: 18px;
    color: #494949;
    width: 40px;
  }
  
  .side-section-container div td:nth-child(2) {
    font-size: 16px;
    font-weight: 200;
    color: #494949;
    vertical-align: top;
  }
  
  #material td, #roles-setup td, #logs td {
    color: #3979b4;
    font-weight: 300;
  }
  
  .active {
    border-left: 3px solid #246caf;
  }
  
  .sub-section-container div {
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    color: #3979b4;
  }
  
  .sub-section-container div:hover {
    color: #3979b4b9;
  }
  
  .main-section-container {
    width: 100%;
    height: calc(100% - 100px);
  }
  
  .event-display {
    margin: 50px;
  }
  
  #event-title {
    color: rgb(221, 183, 112);
    font-size: 36px;
    font-weight: 100;
  }
  
  #event-date {
    color: #494949;
    font-size: 21px;
    font-weight: 200;
    font-style: italic;
  }
  
  #created-by {
    color: rgba(128, 128, 128, 0.71);
    font-size: 13px;
    font-weight: 100;
    margin-top: 2px;
  
  }
  