<div class="abstract-list-container">
    <div class="title-header">
      <div>List of Abstracts</div>
      <hr>
    </div>
    <div class="operations-container">
      <div id="searchbox">
        <input type="text" name="searchbox" placeholder="Enter title string" (keyup)="searchAbstract($event)">
        <i class="fa fa-search"></i>
      </div>
      <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
          <select (change)="onPageLimitChanged($event)" class="custom-select">
            <option *ngFor="let size of pageLimits" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="abstract-list">
      <table>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Comments</th>
          <th>Contribution Type</th>
          <th>Submit date</th>
        </tr>
        <tr *ngFor="let abstract of abstractList ">
          <td id="id">{{abstract.absid}}</td>
          <td id="title"><a [routerLink]="">{{abstract.title}}</a></td>
          <td id="accepted-track">{{abstract.comments}}</td>
          <td id="submitted-track">{{abstract.contribution_type}}</td>
          <td id="reviewed-track">{{abstract.submitted_dt}}</td>
        </tr>
      </table>
    </div>
    
  </div>
  