<div class="event-protection-container">
  <div class="title-header">
    <div>Event Protection</div>
    <hr>
  </div>
  <div class="protection-content">
    <div>Permissions</div>
    <div class="permission-list">
      <div>
        <!--<app-user-permission-list [userObj]="userPermissionObj"></app-user-permission-list>-->
      </div>
    </div>
    <div class="add-permission">
      <button>User</button>
      <button>Group</button>
      <button>Event Roles</button>
      <button>Track Roles</button>
    </div>
  </div>
</div>
