<div class="setting-manage-container">
  <div class="title-header">
    Settings
    <hr>
  </div>
  <table>
    <div class="table-row" class="table-row">
      <div>
        <div>
          <i class="fa fa-home"></i>
        </div>
        <div>
          <tr>
            <td>Title</td>
            <td>{{ homeObj.title }}</td>
          </tr>
          <tr>
            <td>Description</td>
            <td>{{ homeObj.description }}</td>
          </tr>
        </div>
      </div>
      <div>
        <i class="fa fa-edit edit-icon" style="cursor: pointer" (click)="editBtn('home')"></i>
      </div>
    </div>
    <div
      class="edit-container"
      [ngStyle]="{ 'display': homeBtn % 2 ? null : 'none' }">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        placeholder="Title"
        id="title"
        [(ngModel)]="homeObj.title"
        (change)="addData(homeObj.title)" />
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          placeholder="Description"
          id="description"
          [(ngModel)]="homeObj.description"
          (change)="addData(homeObj.description)" />
          <div class="btn-container">
            <button (click)="submitBtn('home')">Submit</button>
            <button (click)="cancelBtn('home')">Cancel</button>
          </div>
    </div>
    <hr>
    <div class="table-row">
      <div>
        <div>
          <i class="fa fa-calendar"></i>
        </div>
        <div>
          <tr>
            <td>Date</td>
            <td>{{ scheduleObj.date }}</td>
          </tr>
          <tr>
            <td>Time</td>
            <td>{{ scheduleObj.time }}</td>
          </tr>
          <tr>
            <td>Timezone</td>
            <td>{{ scheduleObj.timezone }}</td>
          </tr>
        </div>
      </div>
      <div>
        <i class="fa fa-edit edit-icon" style="cursor: pointer" (click)="editBtn('schedule')"></i>
      </div>
    </div>
    <div
      class="edit-container"
      [ngStyle]="{ 'display': scheduleBtn % 2 ? null : 'none' }">
      <label for="start_dt">Start Date</label>
      <input
        type="datetime-local"
        name="start_dt"
        placeholder="Start Date"
        id="start_dt"
        [(ngModel)]="scheduleObj.start_dt"
        (change)="addData(scheduleObj.start_dt)" />
      <label for="end_dt">End Date</label>
      <input
        type="datetime-local"
        name="end_dt"
        placeholder="End Date"
        id="end_dt"
        [(ngModel)]="scheduleObj.end_dt"
        (change)="addData(scheduleObj.end_dt)" />
      <label for="timezone">Timezone</label>
      <input
        list="timezone-list"
        id="event-timezone"
        placeholder="Timezone"
        [(ngModel)]="scheduleObj.timezone"
        (change)="addData(scheduleObj.timezone)">
      <datalist id="timezone-list">
        <option selected>
          - - - Select an Option - - -
      </option>
        <option *ngFor="let timezone of timezones" value="{{ timezone }}">{{ timezone }}</option>
      </datalist>

      <div class="btn-container">
        <button (click)="submitBtn('schedule')">Submit</button>
        <button (click)="cancelBtn('schedule')">Cancel</button>
      </div>
    </div>
    <hr>
    <div class="table-row">
      <div>
        <div>
          <i class="fa fa-map-marker"></i>
        </div>
        <div>
          <tr>
            <td>Room</td>
            <td>{{ locationObj.room ? locationObj.room : emptyVariable }}</td>
          </tr>
          <tr>
            <td>Venue</td>
            <td>{{ locationObj.venue ? locationObj.venue : emptyVariable }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>{{ locationObj.address }}</td>
          </tr>
          <tr>
            <td>Map URL</td>
            <td>{{ locationObj.map_url ? locationObj.map_url : emptyVariable }}</td>
          </tr>
        </div>
      </div>
      <div>
        <i class="fa fa-edit edit-icon" style="cursor: pointer" (click)="editBtn('location')"></i>
      </div>
    </div>
    <div
      class="edit-container"
      [ngStyle]="{ 'display': locationBtn % 2 ? null : 'none' }">
      <label for="room">Room</label>
      <input
        type="text"
        name="room"
        placeholder="Room"
        id="room"
        [(ngModel)]="locationObj.room"
        (change)="addData(locationObj.room)" />
        <label for="venue">Venue</label>
        <input
          type="text"
          name="venue"
          placeholder="Venue"
          id="venue"
          [(ngModel)]="locationObj.venue"
          (change)="addData(locationObj.venue)" />
        <label for="address">Address</label>
        <input
          type="text"
          name="address"
          placeholder="Address"
          id="address"
          [(ngModel)]="locationObj.address"
          (change)="addData(locationObj.address)" />
        <label for="map_url">Map Url</label>
        <input
          type="text"
          name="map_url"
          placeholder="Map Url"
          id="map_url"
          [(ngModel)]="locationObj.map_url"
          (change)="addData(locationObj.map_url)" />
        <div class="btn-container">
          <button (click)="submitBtn('location')">Submit</button>
          <button (click)="cancelBtn('location')">Cancel</button>
        </div>
    </div>
    <hr>
    <div class="table-row">
      <div>
        <div>
          <i class="fa fa-users"></i>
        </div>
        <div>
          <tr>
            <td>Chairpersons</td>
            <div id="chairperson-list" *ngFor="let chairperson of chairpersons; let i = index">
              <td style="display: flex; width: 200px; justify-content: space-between;">
                {{ chairperson }}
                <i class="fa fa-times" style="color: red; cursor: pointer;" (click)="popName(i)"></i>
              </td>
            </div>
          </tr>
        </div>
      </div>
      <div>
        <i class="fa fa-edit edit-icon" style="cursor: pointer" (click)="editBtn('chairperson')"></i>
      </div>
    </div>
    <div
      class="edit-container chairperson"
      [ngStyle]="{ 'display': chairpersonBtn % 2 ? null : 'none' }">
      <label for="email">Email</label>
      <input
        type="text"
        name="chairperson"
        placeholder="Chairperson"
        id="chairperson"
        (keyup)="sendData($event)" />
      <section class="search-result">
        <p *ngIf="searchList.length < 1 && hasQuery">Sorry. Nothing Found</p>
        <ng-template ngFor let-user [ngForOf]="searchList" let-i="index" *ngIf="hasQuery">
          <div id="user-block" (click)="addChairperson(user)">
            <div>{{ user.name }}</div>
            <div>{{ user.email }}</div>
          </div>
        </ng-template>
      </section>
        <div class="btn-container">
          <button (click)="submitBtn('chairperson')">Submit</button>
          <button (click)="cancelBtn('chairperson')">Cancel</button>
        </div>
    </div>
    <hr>
    <div class="table-row">
      <div>
        <div>
          <i class="fa fa-info-circle"></i>
        </div>
        <div>
          <tr>
            <td>Additional Info</td>
            <td
              id="additional_info"
              [innerHtml]="contactObj.additional_info"></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{ contactObj.email }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ contactObj.phone }}</td>
          </tr>
        </div>
      </div>
    </div>
    <hr>
    <div class="table-row">
      <div>
        <div>
          <i class="fa fa-tag"></i>
        </div>
        <div>
          <tr>
            <td>Keywords</td>
            <td>
              <span id="keyword" *ngFor="let keyword of extraObj.keywords">
                <span style="color: white; letter-spacing: 0.5px;">{{ keyword }}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td>Label</td>
            <td>{{ extraObj.label ? extraObj.label : emptyVariable }}</td>
          </tr>
        </div>
      </div>
      <div>
        <i class="fa fa-edit edit-icon" style="cursor: pointer" (click)="editBtn('extra')"></i>
      </div>
    </div>
    <div
      class="edit-container"
      [ngStyle]="{ 'display': extraBtn % 2 ? null : 'none' }">
      <label for="keyword">Keyword</label>
      <input
        type="text"
        name="keyword"
        placeholder="Keyword"
        id="keyword"
        [(ngModel)]="keyword"
        (change)="addKeyword(keyword)" />
        <label for="label">Label</label>
        <input
          type="text"
          name="label"
          placeholder="Label"
          id="label"
          [(ngModel)]="extraObj.label"
          (change)="addData(extraObj.label)" />
        <div class="btn-container">
          <button (click)="submitBtn('extra')">Submit</button>
          <button (click)="cancelBtn('extra')">Cancel</button>
        </div>
    </div>
  </table>
</div>
