.close-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    outline: 1px solid;
  }
  
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
  }
  
  button:nth-child(1) {
    background-color: rgb(47, 131, 47);
    margin-right: 10px;
  }
  
  button:nth-child(2) {
    background-color: red;
  }
  