<div class="credential-container">
  <div
    class="title-header">
    <div>
      Credential Details
    </div>
    <hr>
  </div>
  <div>
    <app-input-label
      type="text"
      name="username"
      text="Username"
      [value]="currentUserDetail.username"
      [btnClicked]="btnClicked"
      (fetchData)="inputData($event)"></app-input-label>
    <app-input-label
      type="password"
      name="password"
      text="Password"
      [btnClicked]="btnClicked"
      (fetchData)="inputData($event)"></app-input-label>
    <app-input-label
      type="password"
      name="confirm_password"
      text="Confirm Password"
      [btnClicked]="btnClicked"
      (fetchData)="inputData($event)"></app-input-label>
    <div class="submit-button">
      <app-button-submit text="Submit" alignment="end" (btnClick)="buttonClicked()" (click)="editCredentialDetail()"></app-button-submit>
    </div>
  </div>
</div>
